



body {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    grid-gap 5px;
    grid-row-gap: 0px;

    
}

.container a {
    gap: 10px;
}

#grid1
#grid2
#grid3
#grid4
#grid5 img {
    width: 100%;
    object-fit: cover;  
}



