



body {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2em;
    padding: 2em;

}

.container a {
    outline: solid 2px red;
    display: flex;
    flex-direction: column;
}

.container a {
    text-decoration: none;
}

.container a img {
    max-width: 100%;
    flex: 1;
    object-fit: cover;

}



