body {
  font-size: 24px;
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-auto-columns: 50% 50%;
  grid-template-areas: "header header"
                      "main main"
                      ". mission"
                      "vision .";
  
  ;                  
}

.header {
  grid-area: header;
  background-color: aquamarine;
  height: 120px;

}
 .Photo1 {
   grid-area: Photo1;
   background-color: coral;
   height: 200px;
 }

 main {
   grid-area: main;
   background-color: blueviolet;
   height: 400;
 }

 .mission {
   grid-area: mission;
   background-color: blue;
   height:200px;
   }

   .vision {
      background-color: darkslategray;
      grid-area: vision;
      height: 200px;
   }