* {
  box-sizing: border-box;
}
body {
  color: black;
  font-size: 30;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  grid-row: 50% auto;
  grid-template-areas: "header header"
                       "aside main"
                       "footer p";
}
header {
  background-color: blue;
  grid-area: header;
  float: right;

}

main {
  background-color: blueviolet;
  grid-area: main;
}

aside {
  background-color: chartreuse;
  grid-area: aside;
}
footer {
  background-color: aqua;
  grid-area: footer;
}
p {
  background-color: cornflowerblue;
  grid-area: p;
}


