* {
  box-sizing: border-box;
}
body {
  color: black;
  font-size: 30;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto auto;
  grid-template-areas: "header header"
                       "aside main"
                       "div div";
}
header {
  background-color: blue;
  grid-area: header;
  float: right;

}

main {
  background-color: blueviolet;
  grid-area: main;
}

aside {
  background-color: chartreuse;
  grid-area: aside;
}
div {
  background-color: aqua;
  grid-area: div;
  display: inline;
}



